@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    /*background: linear-gradient(to right, #000, #333);*/

    background-image: url("https://schouwecg.github.io/portfolio/bonaire_2023-modified.jpg");
    z-index: 3;
    /*height: 100%;
    width: 100%;*/

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: linear-gradient(to right, #000, #333);
    color: #C7C8CC;
    text-align: left;
    padding: 5px;
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    
    line-height: 0.1;
    z-index: 2;
 
}

#welcome-section {
  margin-top: 100px;
  letter-spacing: 3rem;
}


  /*.achtergrond {
    background-image: url("https://schouwecg.github.io/portfolio/bonaire_2023-modified.jpg");
    z-index: 3;
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }*/
  
  .kleur {
    color: orangered;
  }


#about {
  font-size: 30px;
  position: absolute;
  top: 1120px;
  /*left: 5px;*/
  color: #B4B4B8;
  align-items: end;
  letter-spacing: 0.6rem;
  margin-left: 5px;
  z-index: -1;
  opacity: 0.8;
  }

.address {
  font-size: 10px;
  text-align: center;
  

  letter-spacing: 1rem;
  line-height: 0.2rem;
  padding-top: 15px;
  padding-bottom: 30px;
}


#portfolio {
  font-size: 30px;
  position: absolute;
  top: 1800px;
  left: 5px;
  color: #B4B4B8;
  align-items: end;
  letter-spacing: 1rem;
  line-height: 0.2rem;
  padding-top: 30px;
  z-index: 1;
  object-fit: fill;
  opacity: 0.8;
  
  
}


#contact {
  font-size: 30px;
  position: absolute;
  top: 2500px;
  left: 5px;
  color: #B4B4B8;
  align-items: end;
  letter-spacing: 0.6rem;
  z-index: -1;
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: 0.8;
  
  
}
  .map {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
 
  /*top: 400px;*/
  left: 50px;
  color: #B4B4B8;
  align-items: center;
  letter-spacing: 0.6rem;
  z-index: 3;
  
  border-radius: 8;
  padding: 15px;
  
 
}
.container {

  height: 550px;
  width: 100%;
 background: linear-gradient(to right,#333, #000);
}
nav {
    background: linear-gradient(to right, #333, #000);
    color: white;
    display: flex;
    /*top: 0;
    left: 50;*/
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
    
}

.container2 {

  height: 250px;
  width: 100%;
 background: linear-gradient(to right,#333, #000);
}
nav {
    background: linear-gradient(to right, #333, #000);
    color: white;
    display: flex;
    /*top: 0;
    left: 50;*/
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: flex;
    color: orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 0;
    left: 50;
    font-size: 15px;
    letter-spacing: 1.5rem;
}

a:hover {
    background-color: #555;
}

section {
    padding: 60px;
    color: #333;
}

footer {
    background: linear-gradient(to right, #000, #333);
    color: white;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

.project {
    margin-bottom: 20px;
}


.gallery {
    display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: left;
    max-width: 700px;
    margin: 5px auto;
    margin-top: 1900px;
    z-index: 2;
    
  
}

figure {
    margin: 10px;
    text-align: center;
}

img {
   width: 350px;
    height: 350px;
    /*border: 2px solid #333;*/
    border-radius: 8px;
    z-index: 1;
    display: flex;
    align-items: center;
    
    
}

figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    letter-spacing: 0.5rem;
    padding-top: 20px;
}


  
